body{
    margin: 0px;
}
.header{
    padding: 15px;
    background-color: purple;
    color: white;
    font-weight: bolder;
    font-size: 22px;
    font-family: "Apercu Pro";
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.card-container{
    display: flex;
    flex-wrap: wrap;
    gap: 15px;
    padding: 15px;
}
.cards{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    border-radius: 5px;
    /* width: calc(25% -100px); */
    width: 24%;
    min-height: 266px;
    cursor: pointer; 
    border: 1px solid #cccccc;
}
.cards:hover{
    background: #ffffff;
    border: 1px solid #2bc4f2 !important;
    /* box-sizing: border-box; */
    border-radius: 5px;
    box-shadow: 0 8px 14px rgb(51 144 172 / 20%);
}
.card-details{
    display: flex;
    align-items: center;
    justify-content: center;
}
.userIcon{
    width: 150px;
    height: 150px;
    padding: 10px;
}
.filter-icon{
    height: 25px;
    width: 25px;
    cursor: pointer;
}
.filter-icon-container{
    height: 40px;
    width: 40px;
    border-radius: 50%;
    display: flex;
    background-color: #ffffff;
    align-items: center;
    justify-content: center;
}
.filter-container{
    display: flex;
    gap: 15px;
    align-items: center;
    justify-content: center;
}
.users-modal{
 color: #ffffff;
 background-color: aqua;
 width: 50%;
 height: 50%;
 position: absolute;
 top: 30%;
 right: 25%;
 border-radius: 2px;
 box-shadow: 0 3px 6px -4px rgb(0 0 0 / 12%), 0 6px 16px 0 rgb(0 0 0 / 8%), 0 9px 28px 8px rgb(0 0 0 / 5%);
}

.input-search{
    border: none;
    height: 15px;
    width: 160px;
    border-radius: 4px;
    padding: 10px;  
}

input {
    outline: none;
  }
  input:focus,
  input:active {
    border-color: transparent;
  }
  .no-result-found{
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .no-result-img{
    width: 65vw;
    height: 80vh;
  }
  .filter-container{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
  }
  .custom-select {
    border: none;
    height: 35px;
    width: 130px;
    border-radius: 4px;
    padding: 10px;
  }
  .userHeader{
    padding: 15px;
    background-color: purple;
    color: white;
    font-weight: bolder;
    font-size: 22px;
    font-family: "Apercu Pro";
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.cardsDetails{
    display: flex;
    justify-content: center;
    border-radius: 5px;
    display: block;
    float: left;
    width: 30%;
    position: relative;
    min-height: 320px;
    cursor: pointer; 
    border: 1px solid #cccccc;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.detailsContainer{
    width: 100%;
    display: flex;
    justify-content: center;
    margin-top: 30px;
    flex-direction: column;
    align-items: center;
}
.btnContainer{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px;
    margin: 15px;
}
.addBtnContainer{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px;
}
.add{
    background-color: #4CAF50; /* Green */
    border: none;
    color: white;
    padding: 8px 12px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    cursor: pointer;
    border-radius: 4px;
}
.edit{
    background-color: #4CAF50; /* Green */
    border: none;
    color: white;
    padding: 8px 12px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    cursor: pointer;
    border-radius: 8px;
}
.cancel {
    background-color: #f44336;; /* Green */
    border: none;
    color: white;
    padding:8px 12px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    cursor: pointer;
    border-radius: 8px;
}
.reset {
    background-color: #2bc4f2;; /* Green */
    border: none;
    color: white;
    padding:8px 12px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    cursor: pointer;
    border-radius: 8px;
}
.fieldBox{
    padding: 10px;
}
.inputBoxContainer{
    width: 80%;
    margin-bottom: 20px;
}
.inputField{
    display: flex;
    align-items: center;
    justify-content: center;
}
.textInput{
    width: 80%;
    border: none;
    border-bottom: 2px solid #2cc4f2;;
}
.addUserContainer{
    display: flex;
    border-radius: 5px;
    display: block;
    float: left;
    width: 36%;
    position: relative;
    min-height: 320px;
    border: 1px solid #cccccc;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.backIcon{
    width: 35px;
    height: 35px;
}
.label{
    width: 30%;
}
.validators{
    color: red;
    font-size: small;
    display: flex;
    align-items: center;
    justify-content: center;
    font-weight: 600;
}

@media screen and (min-width: 320px ) and (max-width: 480px) {
    .inputBoxContainer {
        width: 86%;
        margin-bottom: 20px;
    }
    .card-container {
        display: flex;
        justify-content: center;
        flex-wrap: wrap;
        gap: 15px;
        padding: 15px;
    }
    .cards{
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        border-radius: 5px;
        width: 70%;
        min-height: 266px;
        cursor: pointer; 
        border: 1px solid #cccccc;
    } 
    .addUserContainer {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        border-radius: 5px;
        width: 90%;
        min-height: 320px;
        border: 1px solid #cccccc;
    }
    .textInput {
        width: 70%;
        border: none;
        border-bottom: 2px solid #2cc4f2;
    }
    .fieldBox {
        padding: 10px;
        width: 100%;
    }
    .header {
        padding: 10px 10px;
        background-color: purple;
        color: white;
        font-weight: bolder;
        font-size: 22px;
        font-family: "Apercu Pro";
        display: flex;
        justify-content: center;
        align-items: center;
        flex-wrap: wrap;
    }
    .filter-container {
        display: flex;
        justify-content: center;
        align-items: center;
        gap: 10px;
        margin-top: 8px;
    }
    .add {
        background-color: #4CAF50;
        border: none;
        color: white;
        padding: 8px 12px;
        text-align: center;
        text-decoration: none;
        display: inline-block;
        font-size: 12px;
        cursor: pointer;
        border-radius: 4px;
    }
    .input-search {
        border: none;
        height: 10px;
        width: 152px;
        border-radius: 4px;
        padding: 10px;
    }
}
@media screen and (min-width: 481px ) and (max-width: 766px) {
    .card-container {
        display: flex;
        justify-content: flex-start;
        flex-wrap: wrap;
        gap: 15px;
        padding: 15px;
    }
    .cards{
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        border-radius: 5px;
        width: 47%;
        min-height: 266px;
        cursor: pointer; 
        border: 1px solid #cccccc;
    } 
    .addUserContainer {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        border-radius: 5px;
        width: 90%;
        min-height: 320px;
        border: 1px solid #cccccc;
       
    }
    .filter-container {
        display: flex;
        justify-content: end;
        align-items: center;
        gap: 10px;
        width: 52%;
    }
    .input-search {
        border: none;
        height: 10px;
        width: 110px;
        border-radius: 4px;
        padding: 10px;
    }
   .add {
    background-color: #4CAF50;
    border: none;
    color: white;
    padding: 8px 12px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 12px;
    cursor: pointer;
    border-radius: 4px;
   }
   .header {
    padding: 15px;
    background-color: purple;
    color: white;
    font-weight: bolder;
    font-size: 18px;
    font-family: "Apercu Pro";
    display: flex;
    justify-content: space-between;
    align-items: center;
}
}
@media screen and (min-width: 766px ) and (max-width: 1024px) {
    .card-container {
        display: flex;
        justify-content: flex-start;
        flex-wrap: wrap;
        gap: 15px;
        padding: 15px;
    }
    .cards{
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        border-radius: 5px;
        width: 31%;
        min-height: 266px;
        cursor: pointer; 
        border: 1px solid #cccccc;
    } 
    .addUserContainer {
        display: flex;
        flex-direction: column;
        align-items: center;
        border-radius: 5px;
        width: 70%;
        min-height: 320px;
        border: 1px solid #cccccc;
    }
}

@media screen and (min-width: 1025px ) and (max-width: 1200px) {
    .addUserContainer {
        display: flex;
        border-radius: 5px;
        display: block;
        float: left;
        width: 50%;
        position: relative;
        min-height: 320px;
        border: 1px solid #cccccc;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }
}
